/* Details Dialog */
dialog.details-dialog {
  padding: 0;
  background: none;
  min-width: 100%;
}

dialog.details-dialog article {
  margin: 0;
  max-height: 75vh;
}

.details-dialog__title {
  margin: 0;
  font-size: 1rem;
  color: var(--primary-color);
}

.details-dialog__body {
  overflow-y: auto;
}

.details-dialog__header {
  padding: 1rem;
}

.details-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.details-section:last-child {
  margin-bottom: 0;
}

.details-section h3 {
  margin: 0;
  font-size: 1rem;
  color: var(--primary-color);
}

.details-section dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1rem;
}

.details-section p {
  color: var(--text-secondary);
  line-height: 1.5;
}

.details-section li {
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}
